[submodule "server"]
	path = server
	url = ../FalloutSbxServer.git
	branch = main
[submodule "client"]
	path = client
	url = ../FalloutSbxClient.git
	branch = main
[submodule "FalloutSbxServer"]
	path = FalloutSbxServer
	url = https://github.com/Big-MT/FalloutSbxServer.git
[submodule "FalloutSbxClient"]
	path = FalloutSbxClient
	url = https://github.com/Big-MT/FalloutSbxClient.git
